.templates_sha: &templates_sha aec7a6ce7bb38902c70641526f6611e27141784a

include:
  - project: 'freedesktop/ci-templates'
    ref: *templates_sha
    file: '/templates/fedora.yml'

stages:
  - containers
  - build
  - deploy

variables:
  FDO_UPSTREAM_REPO: drm/maintainer-tools

.maintainer-tools.fedora:42:
  variables:
    FDO_DISTRIBUTION_VERSION: 42
    FDO_DISTRIBUTION_TAG: '2025-08-25'

###### containers

container-build:
  extends:
    - .fdo.container-build@fedora
    - .maintainer-tools.fedora:42
  stage: containers
  variables:
    FDO_DISTRIBUTION_PACKAGES: 'ShellCheck python3-docutils python3-sphinx python3-sphinx-reredirects make graphviz'
    FDO_DISTRIBUTION_EXEC: '.gitlab-ci/fedora-install.sh'

###### build

check:
  extends:
    - .fdo.distribution-image@fedora
    - .maintainer-tools.fedora:42
  stage: build
  script:
    - echo "Distro - $FDO_DISTRIBUTION_NAME"
    - make check

###### deploy

pages:
  extends:
    - .fdo.distribution-image@fedora
    - .maintainer-tools.fedora:42
  stage: deploy
  script:
    - echo "Distro - $FDO_DISTRIBUTION_NAME"
    - make html
    - cp -r _build/html public
  artifacts:
    paths:
      - public
  only:
    refs:
      - master
