image: fedora:latest

before_script:
  - dnf install -y ShellCheck python2-docutils python2-sphinx make

check:
    stage: build
    script:
      - make check

pages:
    stage: deploy
    script:
      - make html
      - cp -r _build/html public
    artifacts:
        paths:
          - public
    only:
        refs:
          - master
